.btn {
    all: unset;
    outline: revert;
    box-sizing: border-box;
    color: white;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
}

.btn>svg {
    pointer-events: none;
}

.btn-delete {
    background-color: red;
    border: 1px solid red;
}

.btn-edit {
    background-color: rgb(34 125 255);
    border: 1px solid rgb(34 125 255);
}

.btn-submit {
    background-color: rgb(34 125 255);
    border-radius: 5px;
}

.btn-accept {
    background-color: rgb(10 204 87);
    border: 1px solid rgb(10 204 87);
}